
    <form action="/profile">
      <label for="name">Name</label>
      <input  name="name"><br>
      <label for="sex">Sex</label>
      <input name="sex"><br>
      <label for="occupation">Occupation</label>
      <input name="occupation"><br>
      <label for="lookingFor">Looking for:</label>
      <input name="lookingFor"><br>
      <label for="">Picture</label>
      <input name="picture"><br>
      <button type="submit">Create Profile</button>
    </form>
