
    <form action="/profile">

      <label for="name">Name</label>
      <input  name="name"><br>

      <label for="sex">Sex</label>
      <input name="sex"><br>

      <label for="occupation">Occupation</label>
      <input name="occupation"><br>

      <label for="lookingFor">Looking for:</label>
      <input name="lookingFor"><br>

      <label for="picture">Picture</label>
      <input name="picture"><br>

      <label for="_sendto">Email</label>
      <input type="email" name="_sendto"><br>


      <button type="submit" onclick="positivity()">Create Profile</button>

    </form>
